<div class="w-full max-w-5xl mx-auto bg-gray-700 p-2 sm:p-4 rounded-lg shadow-2xl overflow-auto">
    {{#if currentGridWidth}}
        {{#if currentGridHeight}}
            <svg
                id="hexGridSvg"
                width="100%" 
                height="100%"
                viewBox="0 0 {{svgViewBoxWidth}} {{svgViewBoxHeight}}"
                preserveAspectRatio="xMidYMid meet" 
                class="block mx-auto" 
                aria-label="Hexagonal map grid"
            >
                {{#each hexGridRenderData}}
                    {{> hexagon . }}
                {{/each}}
            </svg>
        {{else}}
            <p class="text-gray-400">Grid height is zero. Nothing to display.</p>
        {{/if}}
    {{else}}
         <p class="text-gray-400">Grid width is zero. Nothing to display.</p>
    {{/if}}
</div>